.header {
  display: flex;
  align-items: center;
  padding: 15px;

  .logo {
    color: $terra;
    font-size: xx-large;

    @media (max-width: 768px) {
      font-size: larger;
      width: 80px;
    }
  }
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 5px;
  }

  &__link {
    padding: 5px 10px;
    color: $terra;
    font-size: large;

    @media (max-width: 768px) {
      font-size: medium;
    }

    &:hover {
      color: darken($color: $terra, $amount: 10);
    }

    &_underline {
      border-bottom: 2px solid $terra;
    }
  }
}

.login {
  color: $black;
}
