.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 10px 2px lighten($color: $black, $amount: 90);
  border-radius: 15px;
  color: $black;

  &:hover {
    background-color: darken($color: $white, $amount: 10);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    &__title {
      font-size: 30px;
    }

    &__author {
      color: lighten($color: $black, $amount: 50);
    }
  }

  .options {
    display: flex;
    gap: 20px;
  }
}
